* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  max-width: 70vw;
  color: #fff;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.9);
  backdrop-filter: blur(3px);
  z-index: 10;
}

a {
  text-decoration: none;
  color: #fff;
  margin-left: 1em;
}

.logo {
  background: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-tea-cozy-logo.png')
    no-repeat;
  background-size: contain;
  width: 180px;
  height: 50px;
}

nav ul li {
  display: inline-block;
}

.hero_banner {
  background: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
  background-size: cover;
  height: 60vh;
}

.content-banner {
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  text-align: center;
  position: relative;
  top: 50%;
  padding: 0.5em;
}

h2 {
  padding-bottom: 0.5em;
}

/* Main */
main article {
  text-align: center;
}

main section {
  display: flex;
  height: fit-content;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
}

.product {
  height: 250px;
}

.product img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Footer */
footer {
  background: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
  background-size: cover;
  padding: 60px 0;
}

footer h2 {
  text-align: center;
}

.locations {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
}

.location {
  width: 200px;
  height: 200px;
  background-color: #000;
  margin: 15px;
  padding: 10px;
  line-height: 2.5em;
}

.contacts {
  padding: 10px;
  text-align: center;
}
